
.effect-ripple {
    @include addRipple($primary-color);
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: $primary-color;
    animation: ripple 0.7s linear infinite;
}
